*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,0,30,0.7),rgba(4,9,30,0.7)),url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.bottom-page{
  min-height: 100vh;
  width: 100%;
  background-color: aliceblue;
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 200px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: Agent;
}

@font-face {
 font-family: Agent;
 src: url(AGENCYB.ttf);
}
.nav-links ul li::after{
  content: '';
  width: 0;
  height: 2px;
  background: #FFF;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 75px
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 25px;
  color: white;
}
/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: none;
  font-family: Agent;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4169e1;
  min-width: 50px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #000080;transition: 0.5s;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: transparent;}

.scroll-down{
  border: 1px solid white;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  color:white;
  font-family: News2;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%,-50%);
}
.scroll-down p{
  padding: 12px 34px;
}
.scroll-down:hover{
  border: 1px solid #4169e1;
  background: #4169e1;
  transition: 1s;
}

@font-face {
font-family: News2;
src: url(LeituraNewsRoman2.otf);
}

nav .fa-solid{
  display: none;
}

@media(max-width: 700px) {
  .text-box h1{
    font-size: 35px;
  }
  .text-box p{
    font-size: 15px;
  }
  .scroll-down{
    font-size: 10px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: absolute;
    background: #4169e1;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
  }
  nav .fa-solid{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
}
